@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
:root {
  --btn_color: #ff5400;
  --para_color: rgba(19, 19, 24, 0.7);
  --title_color: #131318;
  --gray_para_color: #5a5a5d;
  --link_color: #424247;
}
html {
  font-size: 62.5%;
}
/* body {
  max-width: 1440px;
  margin: 0 auto;
} */

/* reusable */
ul {
  padding-left: 20px;
}
input:focus {
  outline: none;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.common_btn {
  padding: 16px 35px;
  border: none;
  background-color: var(--btn_color);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 8px;
}
.section_title {
  color: var(--title_color);
  font-size: 4rem;
  font-weight: 800;
}
.section_para {
  color: var(--para_color);
  margin: 24px 0 50px;
  font-size: 1.6rem;
}
.destination_txt,
.choose_us_content,
.deals_txt {
  text-align: center;
}
/* header */
nav {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand,
.footer_brand {
  display: inline-flex;
  gap: 16px;
}
.brand p,
.footer_brand {
  color: var(--title_color);
  font-size: 3.6rem;
  font-weight: 800;
}
.travel {
  color: var(--btn_color);
}
nav > ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin-left: 44px;
}
nav ul li a {
  text-decoration: none;
  color: var(--link_color);
  font-size: 1.8rem;
}
/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--btn_color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
  padding: 20px 0;
  color: #fff;
}
.sidebar li a {
  color: #fff;
  width: 100%;
}
.menubtn {
  display: none;
}
.fa-xmark,
.fa-bars {
  font-size: 30px;
}
.main_banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/main_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.banner_content {
  text-align: center;
  padding: 100px 185px;
}
.banner_content h1 {
  font-size: 6.4rem;
  font-weight: 800;
  color: #fff;
}
.banner_content p {
  font-size: 1.6rem;
  margin-top: 24px;
  margin-bottom: 48px;
  color: #fff;
}

.find_btn i {
  margin-right: 8px;
}
.input_holder {
  max-width: 800px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  display: inline-flex;
  gap: 24px;
}
.input_holder input,
select {
  padding: 16px;
  width: 160px;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1.6rem;
  border: none;
}

/* popular_tours */
.popular_tours {
  margin-top: 100px;
}
.popular_tour_container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.popular_tour_left h2 {
  color: var(--title_color);
  font-size: 4rem;
  font-weight: 800;
}
.tour_txt {
  color: var(--para_color);
  font-size: 1.6rem;
  margin: 24px 0;
}
.popular_tour_left ul li {
  color: var(--para_color);
  font-size: 1.6rem;
  margin: 16px 0;
}
.tour_txt2 {
  color: var(--gray_para_color);
  font-size: 1.6rem;
}
.read_btn {
  margin-top: 32px;
}
/* features */
.features {
  margin-top: 100px;
}
.features_txt {
  text-align: center;
}
.features_holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features_box {
  padding: 20px;
  background-color: var(--btn_color);
  border-radius: 16px;
  color: #fff;
}
.features_box p {
  font-size: 1.6rem;
  margin-top: 10px;
}
.features_box i {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
/* Destination section */
.destination {
  margin-top: 100px;
}
.destination_img_holder {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}
.destination_img_holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.img_box {
  position: relative;
}
.middle_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.8rem;
  font-weight: 800;
}
.img1,
.img2 {
  grid-column: span 6;
}
.img3 {
  grid-column: span 4;
}
.img4,
.img6 {
  grid-column: span 5;
}
.img5 {
  grid-column: span 3;
}
.img7 {
  grid-column: span 7;
}
/* why choose us */
.choose_us {
  margin-top: 100px;
}
.boxes_holder {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.boxs {
  padding: 32px;
  border-radius: 16px;
}
.boxs1,
.boxs2 {
  width: 49%;
}
.boxs1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.boxs2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.another_box_holder {
  width: 50%;
  margin: 24px auto 0;
}
.boxs3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.boxs h3 {
  font-size: 2.4rem;
  color: var(--title_color);
  font-weight: 800;
  margin: 32px 0 16px;
}
.boxs p {
  color: #5a5a5d;
  font-size: 1.6rem;
}
/* Deals & Discounts */
.deals {
  margin-top: 100px;
}
.plans_holder {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.plans1 {
  background-image: url(../Images/discount.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 50px 50px 500px;
  border-radius: 16px;
}
.plans2 {
  background-image: url(../Images/discount2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 500px 50px 50px;
  border-radius: 16px;
}
.plan {
  padding: 50px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  min-width: 400px;
}
.plan_services {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 24px;
}
.plan_services i {
  margin-right: 8px;
  color: var(--btn_color);
}
.plan_services p {
  color: #5a5a5d;
  font-size: 1.6rem;
}
.plans_details h2 {
  color: #131318;
  font-size: 2.4rem;
  font-weight: 800;
  margin-top: 26px;
}
.plans_details p {
  color: #5a5a5d;
  font-size: 1.6rem;
  margin: 16px 0;
}
.plans_details h3 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--btn_color);
}
.book_btn {
  margin-top: 24px;
  border-radius: 0;
}
.package_btn {
  margin-top: 50px;
  text-align: center;
}
/* Perfect Place */
.perfect_place {
  margin-top: 100px;
}
.perfect_place_holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.perfect_place_left p {
  color: var(--gray_para_color);
  font-size: 1.6rem;
  margin: 16px 0;
}
.perfect_place_left ul li {
  color: var(--title_color);
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 16px;
}
.see_btn {
  margin-top: 32px;
}
/* newslatter */
.newslatter {
  margin-top: 100px;
}
.newslatter_holder {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.newslatter_left {
  border-radius: 16px;
  border: 1px solid var(--btn_color);
  padding: 40px;
}
.newslatter_left h2 {
  color: var(--title_color);
  font-size: 2.4rem;
}
.newslatter_left p {
  color: var(--gray_para_color);
  font-size: 1.6rem;
  margin-top: 16px;
  margin-bottom: 24px;
}
hr {
  color: gray;
  margin-bottom: 10px;
}
.newslatter_left input {
  padding: 16px;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1.6rem;
  border: none;
  background: rgba(19, 19, 24, 0.05);
  width: 100%;
  margin-top: 16px;
}
.subscribe_btn {
  margin-top: 38px;
  width: 100%;
}
.newslatter_right {
  position: relative;
}
.newslatter_right img {
  height: 100%;
}
.travel_discount span {
  display: block;
  color: #fff;
  font-size: 2.4rem;
}
.travel_discount p {
  font-size: 3.2rem;
  color: #fff;
}
.travel_discount {
  background-color: var(--btn_color);
  padding: 20px 30px;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 13%;
  transform: rotate(-20deg);
  border-radius: 16px;
}
/* footer */
.footer {
  background: rgba(19, 19, 24, 0.05);
  margin-top: 100px;
  padding: 110px 0;
  text-align: center;
}
.footer_para {
  color: var(--para_color);
  margin: 15px 0 32px;
  font-size: 1.6rem;
}
.social a {
  color: #131318;
  padding: 10px;
}
.social a i {
  font-size: 28px;
  margin-right: 5px;
}
.footer_devider {
  margin: 50px 0;
}
.copy {
  color: var(--title_color);
  font-size: 1.6rem;
}
.sidebar {
  display: none;
}

/* responsive */
@media screen and (max-width: 576px) {
  .container {
    padding: 0px 20px;
  }
  .banner_content {
    padding: 30px 24px;
  }
  .input_holder {
    gap: 16px;
    flex-direction: column;
    width: 100%;
  }
  .input_holder input,
  select {
    width: 100%;
  }
  .popular_tours,
  .features,
  .destination,
  .choose_us,
  .deals,
  .perfect_place,
  .newslatter,
  .footer {
    margin-top: 50px;
  }
  .popular_tour_container,
  .features_holder,
  .boxes_holder,
  .perfect_place_holder,
  .newslatter_holder {
    flex-direction: column;
  }
  .popular_tour_right img {
    width: 100%;
  }
  .features_holder {
    gap: 10px;
  }
  .features_box {
    min-width: 285px;
    text-align: center;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7 {
    grid-column: span 12;
    max-height: 175px;
  }
  .boxs1,
  .boxs2,
  .another_box_holder {
    width: 100%;
  }
  .plan {
    padding: 30px;
    min-width: 0;
  }
  .plans1,
  .plans2 {
    padding: 200px 50px 50px 50px;
    min-height: 500px;
  }
  iframe,
  .perfect_place_right {
    width: 100%;
  }
  .newslatter_right img {
    width: 100%;
  }
  .travel_discount {
    padding: 15px 25px;
    right: 2%;
    bottom: 12%;
  }
  .travel_discount p {
    font-size: 2.2rem;
    color: #fff;
  }
  .footer {
    padding: 30px 0;
  }
  .hideonMobile {
    display: none;
  }
  .menubtn {
    display: block;
  }
  .sidebar {
    display: none;
  }
}
/* RESPONSIVE FOR TABLETS OR MEDIUM DEVICES */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    padding: 0px 20px;
  }
  .banner_content {
    padding: 30px 24px;
  }
  .input_holder {
    gap: 16px;
    flex-direction: column;
    width: 100%;
  }
  .input_holder input,
  select {
    width: 100%;
  }
  .popular_tour_container,
  .boxes_holder,
  .perfect_place_holder,
  .newslatter_holder {
    flex-direction: column;
  }
  .popular_tour_right img {
    width: 100%;
  }
  .features_holder {
    gap: 10px;
  }
  .features_holder {
    flex-wrap: wrap;
  }
  .features_box {
    min-width: 220px;
    text-align: center;
  }
  .boxs1,
  .boxs2,
  .another_box_holder {
    width: 100%;
  }
  .plan {
    padding: 30px;
    min-width: 0;
  }
  .plans1,
  .plans2 {
    padding: 200px 50px 50px 50px;
    min-height: 500px;
  }
  iframe,
  .perfect_place_right {
    width: 100%;
  }
  .newslatter_right img {
    width: 100%;
  }
  .travel_discount {
    right: 3%;
    bottom: 12%;
  }
  .hideonMobile {
    display: none;
  }
  .menubtn {
    display: block;
  }
  .sidebar {
    display: none;
  }
}
